<!DOCTYPE html>

<title>Hello CampeonatoTablaPosicionesController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Resultados Copa Merqueo</h1>

    Tabla Posiciones
    <table border="1">
        <tr>
            <td>Posicion</td>
            <td>Grupo</td>
            <td>Equipo</td>
            <td>Partidos Jugados</td>
            <td>Partidos Ganados</td>
            <td>Partidos Perdidos</td>
        </tr>
        {% for key, entrada in informacionTablaPosiciones %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ entrada.grupoNombre }}</td>
                <td>{{ entrada.equipoNombre }}</td>
                <td>{{ entrada.partidosJugados }}</td>
                <td>{{ entrada.partidosGanados }}</td>
                <td>{{ entrada.partidosPerdidos }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>

    Calendario de partidos
    <table border="1">
        <tr>
            <td>No</td>
            <td>Fase</td>
            <td>Fecha</td>
            <td>Equipo Local</td>
            <td>Goles Local</td>
            <td>Equipo Visitante</td>
            <td>Goles Visitante</td>
            <td>Amarillas Local</td>
            <td>Rojas Local</td>
            <td>Amarillas Visitante</td>
            <td>Rojas Visitante</td>
        </tr>
        {% for key, entrada in informacionPartidosJugados %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ entrada.fase }}</td>
                <td>{{ entrada.fechaHora }}</td>
                <td>{{ entrada.EquipoLocal }}</td>
                <td>{{ entrada.golesLocal }}</td>
                <td>{{ entrada.EquipoVisitante }}</td>
                <td>{{ entrada.golesVisitante }}</td>
                <td>{{ entrada.tarjetasAmarillasLocal }}</td>
                <td>{{ entrada.tarjetasRojasLocal }}</td>
                <td>{{ entrada.tarjetasAmarillasVisitante }}</td>
                <td>{{ entrada.tarjetasRojasVisitante }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    Conteo de tarjetas
    <table border="1">
        <tr>
            <td>No</td>
            <td>Equipo</td>
            <td>Total</td>
            <td>Tarjeta</td>
        </tr>
        {% for key, entrada in informacionTarjetas %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ entrada.nombreEquipo }}</td>
                <td>{{ entrada.totalTarjetas }}</td>
                <td>{{ entrada.colorTarjeta }}</td>
        {% endfor %}
    </table>
    <br>
    Conteo de goles
    <table border="1">
        <tr>
            <td>Posicion</td>
            <td>Equipo</td>
            <td>Goles</td>
        </tr>
        {% for key, entrada in informacionGoles %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ entrada.equipoNombre }}</td>
                <td>{{ entrada.totalGoles }}</td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
