<html>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script>
        function cargarInformacionCampeonato() {
            $('#mensaje_noficacion_carga').text("Cargando la información por favor espere...");
            $.ajax({
                url: "{{ path('campeonato_cargar') }}",
            }).done(function (data) {
                $('#mensaje_noficacion_carga').text(data.msg);
                $('#detalle_equipos_campeonato').show(true);
            }).fail(function (data) {
                $('#mensaje_noficacion_carga').text(data.msg);
            });
        }

        function obtenerInformacionCampeonato() {
            $('#mensaje_noficacion_lectura').text("Cargando la información por favor espere...");
            $.ajax({
                url: "{{ path('grupo_listar') }}"
            }).done(function (data) {
                let html = "";
                jQuery.each(data.msg, function (key, grupo) {
                    if (grupo.grupoNombre !== undefined) {
                        html += '<ul>' + grupo.grupoNombre;
                        jQuery.each(grupo, function (key, equipo) {
                            if (equipo.equipoNombre !== undefined) {
                                html += '<li>' + equipo.equipoNombre + '</li>';
                            }
                        });
                        html += '</ul>';
                    }
                });
                $('#mensaje_noficacion_lectura').html(html);
                $('#detalle_simulacion_campeonato').show(true);
            }).fail(function (data) {
                $('#mensaje_noficacion_lectura').text("Se ha presentado un error en la carga de los equipos.");
            });
        }

        function ejecutarSimulacionCampeonato() {
            $('#mensaje_noficacion_simulacion').text("Simulando los encuentros por favor espere...");
            $.ajax({
                url: "{{ path('campeonato_simular') }}",
            }).done(function (data) {
                let html = "";
                jQuery.each(data.msg, function (key, fase) {
                    jQuery.each(fase, function (key, grupo) {
                        if (grupo.nombreFase !== undefined) {
                            html += '<ul>' + grupo.nombreFase;

                            jQuery.each(grupo.resultadoEquipos, function (key, equipo) {
                                if (equipo.nombre !== undefined) {
                                    html += '<li>' + equipo.nombre + ' - ' + equipo.clasifica + '</li>';
                                }
                            });

                            html += '</ul>';
                        }
                    });
                });
                $('#mensaje_noficacion_simulacion').html(html);
            }).fail(function (data) {
                $('#mensaje_noficacion_simulacion').text(data.msg);
            });
        }

    </script>

    <head>
        <title>Campeonato Inicio</title>
    </head>

    <body>
        <h1>Campeonato Mundial - Prueba Merqueo</h1>

        <br><br>
        <h2>Inicie cargando la información de los equipos: </h2>
        <a href="#" onclick="cargarInformacionCampeonato()">Cargar Información Campeonato</a>
        <div id="mensaje_noficacion_carga"></div>

        <br>
        <div id="detalle_equipos_campeonato" style="display: none">
            <a href="#" onclick="obtenerInformacionCampeonato()">Ver Información Equipos del Campeonato</a>
            <div id="mensaje_noficacion_lectura"></div>
        </div>

        <br>
        <div id="detalle_simulacion_campeonato" style="display: none">
            <a href="#" onclick="ejecutarSimulacionCampeonato()">Simular el Campeonato</a>
            <div id="mensaje_noficacion_simulacion"></div>
        </div>

        <br><br>
    </body>
</html>